.App {
  text-align: center;
}

.searchResult{
  border: solid black 2px;
  width: 80%;
  margin: 0 10%;
}

.searchResult div{
  width: 100%;
  position: relative;
  text-align: center;
  display: inline;
} 

.searcimg {
  width: 100px;
}

.container {
  
  color: white;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%
}

@media only screen and (max-width: 600px) {
 
}